*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' , sans-serif;
    background: #f4f6f8;
    color:#222;
    line-height: 1.6;
}

/* Resume Container  */

.document{
    max-width: 850px;
    margin: 40px auto;
    background: #ffffff;
    padding: 40px 50px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);
    border-radius: 8px;
}

/* Header  */
header a {
    text-decoration: none;
    color: #0077b6;
    font-weight: 500;
}

header a:hover {
    text-decoration: underline;
}

header{
    text-align: center;
    margin-top: 30px;
}

header h1{
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
header p{
    font-size: 14px;
    color: #555;
}
/* section Heading  */

h2{
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0077b6;
    font-weight: 600;
    letter-spacing: 0.5px;

}

/* paragraph spacing  */

main p{
    font-size: 14px;
    margin-bottom: 8px;
}

/* lists */

ul{
    margin-left:20px;
    margin-bottom: 10px;
}
ul li{
    font-size: 14px;
    margin-bottom: 5px;
}

/* Bold labels */

b{
    font-weight: 500;
}

 /* hover effect  */

 .document:hover{
    transform: scale(1.01);
    transition: 0.3s ease;
 }

 /* print  */

 @media print{
    body{
        background: white;
    }
    .document{
        box-shadow: none;
        margin: 0;
        border-radius: 0;
    }
 }